<html>
<head>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="col">
    <!-- Calendar -->
    <div class="calendar">
      <h1>Today</h1>
      {{#calendar.today.isEmpty}}
      <h2>Calendar is totally free today</h2>
      {{/calendar.today.isEmpty}}
      {{#calendar.today.events}}
      <div class="event">
        <h2><strong>{{name}}</strong></h2>
        <h3>{{start}} - {{end}}</h3>
      </div>
      {{/calendar.today.events}}
      <h1 class="tomorrow">Tomorrow</h1>
      {{#calendar.tomorrow.isEmpty}}
      <h1>Calendar is totally free tomorrow</h1>
      {{/calendar.tomorrow.isEmpty}}
      {{#calendar.tomorrow.events}}
      <div class="event">
        <h2><strong>{{name}}</strong></h2>
        <h3>{{start}} - {{end}}</h3>
      </div>
      {{/calendar.tomorrow.events}}  
    </div>
    <!-- YOGA -->
    <div class="yoga">
      {{#yoga}}
      <h1>Yoga</h1>
      {{/yoga}}
      {{#yoga}}
      <h2>{{class}}</h2>
      <div class="event">
        <p><strong>{{time}}</strong></p>
        <p>{{instructor}}</p>
      </div>
      {{/yoga}}
    </div>
  </div>
  <div class="col">
    <!-- Summary -->
    <div class="summary">
      <p class="day">{{summary.day}}</p>
      <p class="date">{{summary.date}}</p>
    </div>
    <!-- Weather -->
    <div class="weather">
      <h1 class="temp">{{weather.today.low}}&deg; -&nbsp; {{weather.today.high}}&deg;</h1>
      <h1 class="yesterday">Yesterday: {{weather.yesterday.low}}&deg; - {{weather.yesterday.high}}&deg;</h1>
      <!-- <p><i>{{weather.today.desc}}</i></p> -->
      <p>Rain: {{weather.today.chanceOfRain}}%</p>
    </div>
    <!-- Parking -->
    <div class="parking">
      {{#parking}}
      <p>{{text}}</p>
      {{/parking}}
    </div>
  </div>
  <div class="col">
    <!-- Waves -->
    <div class="waves">
      <h1>Waves</h1>
      {{#waves}}
        <div class="day">
          <h5>{{day}}</h5>
          {{#data}}
            <p class="cond-{{cond}}">{{hour}} &nbsp;
              <span class="arrow arrow-bold arrow-{{windDirection}} arrow-condition-{{cond}}"> ></span>
              &nbsp; {{wind}} 
              <span class="right">
                <span class="arrow arrow-{{swellDirection}}"> ></span>
                &nbsp;&nbsp;
                <strong class="{{#hasSize}}big{{/hasSize}}">
                  {{swellStat}}
                </strong>
              </span>
            </p>
          {{/data}}
        </div>
      {{/waves}}
    </div>
  </div>
</body>
<html>
