@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  color: white;
  font-family: 'Lato', sans-serif;
  background: #108dc7;
}

body {
  overflow: hidden;
  font-size: 17px;
}

h1 {
  color: rgb(228, 155, 128);
}

.col {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 20px;
}

.right {
  float: right;
}

.calendar {
  .tomorrow {
    margin-top: 40px;
  }

  .event {
    border-bottom: 1px solid white;
  }  
}

.summary {
  text-align: center;
  font-weight: bold;
  padding: 20px 0;

  p {
    margin: 0;
  }

  .day {
    font-size: 55px;
  }

  .date {
    font-size: 45px;
  }
}

.weather {
  text-align: center;

  .temp {
    margin-bottom: 10px;
  }

  .yesterday {
    margin-top: 0;
  }
}

.parking {
  background: white;
  color: #108dc7;
  padding: 1px 20px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.waves {
  p {
    margin: 2px 0;

    &.cond-1 {
      background: linear-gradient(to right, #eee0, #11998e, #38ef7d);
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  h5 {
    border-top: 1px solid white;
    margin: 4px 0;
  }

  .arrow-condition-1 {
    color: green;
  }

  .arrow-condition-2 {
    color: blue
  }

  .arrow-condition-3 {
    color: red
  }

  .arrow {
    display: inline-block
  }

  .arrow-bold {
    font-weight: bold;
  }

  .arrow-E    { transform: rotate(180deg)   }
  .arrow-ESE  { transform: rotate(202.5deg) }
  .arrow-SE   { transform: rotate(225deg)   }
  .arrow-SSE  { transform: rotate(247.5deg) }
  .arrow-S    { transform: rotate(270deg)   }
  .arrow-SSW  { transform: rotate(292.5deg) }
  .arrow-SW   { transform: rotate(315deg)   }
  .arrow-WSW  { transform: rotate(337.5deg) }
  .arrow-W    { transform: rotate(0deg)     }
  .arrow-WNW  { transform: rotate(22.5deg)  }
  .arrow-NW   { transform: rotate(45deg)    }
  .arrow-NNW  { transform: rotate(67.5deg)  }
  .arrow-N    { transform: rotate(90deg)    }
  .arrow-NNE  { transform: rotate(112.5deg) }
  .arrow-NE   { transform: rotate(135deg)   }
  .arrow-ENE  { transform: rotate(157.5deg) }

  .big {
    color: #1e4b47;
  }
}

